@import 'reels.scss';
@import 'spin.scss';
@import 'balance.scss';
@import 'debugArea.scss';

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, rgb(76, 10, 102) 0%, rgb(179, 16, 162) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  display: flex;
  flex-wrap: wrap;

  .info-area {
    margin-left: 20px;
  }
}

* {
  outline: none;
}
