@import 
'mixins', 
'balance',
'debugArea',
'payTable',
'reels', 
'spinButton';

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 20px 0;
  background: linear-gradient(135deg, rgb(76, 10, 102) 0%, rgb(179, 16, 162) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input, button {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: auto 560px;
  grid-template-rows: auto;
  grid-template-areas: 
    "play info"
    "play info"
    "debug debug";

  .play-area {
    grid-area: play;
    position: relative;
    text-align: center;
    
    &__title {
      position: absolute;
      z-index: 2;
      font-size: 30px;
      font-weight: 600;
      left: 0;
      right: 0;
      top: -40px;
      width: 300px;
      margin: 0 auto;
      padding: 10px 0;
      text-align: center;
      background: linear-gradient(135deg, rgb(76, 10, 102) 0%, rgb(179, 16, 162) 100%);
      color: white;
      text-transform: uppercase;
      @include box-styles
    }
  }

  .info-area {
    grid-area: info;
    margin-left: 20px;
  }
}

* {
  outline: none;
}
